.service {
    display: flex;
    justify-content: center;
    .service-container {
        width: 90%;
        padding: 30px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;

        .heading {
            align-self: flex-start;
            // justify-self: start;
        }

        .main-part {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .career {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                // max-width: 500px;
                .image-wrapper {
                    width: 90%;
                    max-width: 500px;
                    min-width: 312px;

                    // border-bottom: 2px solid var(--blue-color);
                }
            }

            .right-part {
                width: 100%;

                .btn-wrapper {
                    display: flex;
                    // flex-direction: column;
                    justify-content: center;
                    overflow: hidden;

                    display: flex;
                    // overflow-x: scroll;
                    margin-block: 40px;

                    min-width: 600px;
                    .btn1 {
                        // width: 80%;
                        border: none;
                        padding: 12px 17px;
                        color: black;

                        background-color: transparent;
                        font-weight: 600;
                        font-size: 14px;
                        border: 1px solid rgb(131, 130, 130);
                        width: 180px;

                        // &:active{
                        //     background-color: red;
                        // }
                    }
                    .start {
                        background-color: var(--purple-color);
                        color: white;
                    }
                    // .a1 {
                    //     background-color: var(--purple-color);
                    //     color: white;
                    // }
                    // .a2 {
                    //     background-color: var(--purple-color);
                    //     color: white;
                    // }
                }
                .placement {
                    display: flex;
                    flex-direction: column;
                    row-gap: 15px;
                    padding: 15px;
                    // background-color: red;

                    .item {
                        display: flex;
                        column-gap: 15px;

                        .image-wrapper {
                            width: 65px;
                        }
                        .about {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            // justify-content: space-between;

                            row-gap: 5px;
                            .subheading {
                                font-size: 16px;
                            }
                            .footer {
                                // padding-right: 30px;
                                // margin-left: -10px;
                                font-size: 13px;
                                font-weight: 550;
                            }
                        }
                    }
                }
            }
        }

        .alumni {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 30px;
            padding: 30px;
            box-shadow: 0 4px 16px rgb(0 0 0/14%);
            .image-div {
                max-width: 400px;
            }
        }

        .peer-learning {
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            align-items: center;
            max-width: 480px;
            background-color: #6659b8;
            .image-wrapper {
                display: flex;
                // flex-direction: column
                justify-content: center;
                align-items: center;

                padding: 15px 10px;
                justify-self: center;
                width: 100%;

                // padding: 10px;
            }

            .pros {
                margin-top: -15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                .items {
                    cursor: pointer;
                    width: 100%;
                    display: flex;
                    background-color: white;
                    column-gap: 15px;
                    padding: 15px 20px;
                    align-items: center;
                    box-shadow: 0px 4px 16px rgb(0 0 0/8%);
                    // margin-block: 2px;
                    border-bottom: 1px solid rgb(114, 114, 114);

                    .icon-wrapper {
                        width: 28px;
                        .icon {
                            width: 100%;
                            height: 100%;
                            fill: var(--blue-color);
                            font-size: 30px;
                        }
                    }
                    span {
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .service {
        .service-container {
            row-gap: 40px;
            .alumni {
                display: flex;
                flex-direction: column;
                row-gap: 30px;
                align-items: center;

                .image-div {
                    max-width: 600px;
                }
            }

            .peer-learning {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                row-gap: 15px;
                max-width: none;
                width: 100%;
                max-width: 750px;
                border-radius: 10px;
                .image-wrapper {
                    max-width: 420px;
                    flex: 2;
                    width: 600px;
                }

                .pros {
                    padding: 0;
                    flex: 1;
                    margin-top: 0;
                    .items {
                        display: flex;
                        background-color: white;
                        column-gap: 15px;
                        padding: 15px 20px;
                        align-items: center;
                        // margin-block: 2px;

                        .icon-wrapper {
                            .icon {
                                color: var(--blue-color);
                                font-size: 30px;
                            }
                        }
                    }
                    .start {
                        background-color: #6659b8;
                        color: white;

                        .icon-wrapper {
                            .icon {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .service {
        .service-container {
            width: 80%;
            row-gap: 20px;

            .main-part {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: start;

                .career {
                    justify-self: start;
                    .image-wrapper {
                        width: 90%;
                        max-width: 450px;

                        // border-bottom: 2px solid var(--blue-color);
                    }
                }

                .right-part {
                    width: 100%;

                    .btn-wrapper {
                        justify-content: left;

                        margin-block: 10px;
                    }
                }
            }
            .alumni {
                display: flex;
                flex-direction: column;
                row-gap: 30px;
                align-items: center;

                margin-block: 15px;
                padding: 20px;
                .image-div {
                    max-width: 1100px;
                }
            }

            .peer-learning {
                max-width: 1130px;
                .image-wrapper {
                    max-width: 720px;
                    height: 550px;
                    flex: 4;
                    width: 100%;
                }

                .pros {
                    padding: 0;
                    flex: 1;
                    margin-top: 0;
                    .items {
                        display: flex;
                        background-color: white;
                        column-gap: 15px;
                        padding: 38px 25px;
                        // border-radius: 3px;
                        align-items: center;
                        // margin-block: 2px;

                        .icon-wrapper {
                            .icon {
                                color: var(--blue-color);
                                font-size: 30px;
                            }
                        }
                    }

                    .start {
                        background-color: #6659b8;
                        color: white;

                        .icon-wrapper {
                            .icon {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}
